.searchtemplate {
  min-height: 100vh;
  background-color: $ml-background;
  display: flex;
  flex-direction: column;

  &__main {
    height: calc(100vh - 3.25rem);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
