.searchbar {
  flex: 1;
  max-width: 63.625rem;

  &__container {
    display: flex;
    align-items: center;
    background-color: $ml-white;
    border-radius: 2px;
    overflow: hidden;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
  }

  &__input {
    flex: 1;
    border: none;
    outline: none;
    padding: 0.5rem 1rem;
    font-family: $font-family;
    font-size: $font-base;
    font-weight: $font-normal;
    color: $ml-black;
    background-color: transparent;
    min-width: 0;

    &::placeholder {
      color: $ml-gray;
      @include truncate;
    }
    &_separator {
      width: 0.0625rem;
      height: 1.25rem;
      background-color: $ml-background;
    }
  }

  &__button {
    flex-shrink: 0;
  }

  @include mobile {
    max-width: 100%;
  }
}
